header {
  nav.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border-width: 0;
  
    &.navbar-default .navbar-brand {
      color: black;
      font-size: 2em;
      font-weight: bold;
      align: center;
    }

    &.navbar-default .navbar-nav>li>a {
      color: black;
      text-align: left;
    }
    
    &.navbar-default .social-media-icons {
      transform: translateY(50%);

    }
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.downward-arrow {
  transform: translateY(70vh);
  font-size: 2em;
}



.header-line {
  text-align: center;
  margin-top: 10em;

  h2 {

    &.main-body {
      color: black;
      font-weight: 700;
    }

    &.page-bottom {
      color: white;
      font-weight: 700;
    }
  }

  p {
    max-width: 60vw;
    color: #737373;
    margin-bottom: 4em;
  }
}



footer {
  align: center;
  text-align: center;
  background-color: black;
  color: white;

  .row {
    margin: 5vh;
    text-align: left;
    padding-bottom: 5vh;
  }
}