header {
  nav.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border-width: 0;

    &.affix {
      background-color: white;
      border-bottom: 2px solid black;
    } 

    &.affix-top {
      background-color: transparent;
    }
  
    &.navbar-default .navbar-brand {
      color: black;
      font-size: 3em;
      font-weight: bold;
      display: inline-block;
      margin-left: 50%;
      transform: translateX(-10%);
      position: absolute;
      left: 0;
      right: 0;
    }

    &.navbar-default .navbar-nav>li>a {
      color: black;
      text-align: left;
    }
    
    &.navbar-default .social-media-icons {
      transform: translateY(50%);

    }

    i {
      font-size: 2em;
    }
  }
}



body {
  font-family: 'Source Sans Pro', sans-serif;
}

#land {
  .vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}



.header-line {
  text-align: center;
  margin-top: 10em;
  padding-top: 5em;

  h2 {
    
    font-size: 3em;

    &.main-body {
      color: black;
      font-weight: 700;
    }

    &.page-bottom {
      color: white;
      font-weight: 700;
    }
  }

  p {
    max-width: 60vw;
    color: #737373;
    margin-bottom: 4em;
    font-size: 1.5em;
  }
}



footer {
  align: center;
  text-align: center;
  background-color: black;
  color: white;

  .row {
    margin: 5vh;
    text-align: left;
    padding-bottom: 5vh;
  }
}