#features {
  .feature-icon {
    text-align: right;
    padding-right: 0;
    font-size: 4em;
  }
  h3 {
    margin-top: 0;
    transform: translateY(20%);
    font-weight: 700;
    font-size: 2em;
  }
  .row {
    margin-bottom: 2em;
  }
  p {
    font-size: 1.5em;
  }
}