#features {
  .feature-icon {
    text-align: right;
    padding-right: 0;
    font-size: 3em;
  }
  h3 {
    margin-top: 0;
    transform: translateY(20%);
    font-weight: 700;
    font-size: 1.5em;
  }
  .row {
    margin-bottom: 2em;
  }
}