#newsletter {
  background-color: black;
  align: center;
  text-align: center;

  .newsletter-form {
    color: #ececec;
    width: 40vw;
    border: none;
    height: 4vh;
  }

  .submit-button {
    height: 4vh;
    background-color: #ececec;
    color: black;
    border: none;
  }
}